services:
  backend:
    build:
      context: ./src
      dockerfile: api/Dockerfile
    container_name: validador-backend
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./src/client
      dockerfile: Dockerfile
    container_name: validador-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
  watcher:
    build:
      context: ./src
      dockerfile: email_watcher/Dockerfile
    container_name: validador-watcher
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    depends_on:
      - backend
    restart: unless-stopped


