uvicorn
urllib3
python-jose
fastapi
jose
ldap3
mysql-connector-python
pyodbc
Pillow
pyzbar
pdfplumber
beautifulsoup4
xmltodict
tabulate
python-dotenv
O365
imapclient
pyzbar
pillow
pdfplumber
requests
beautifulsoup4
lxml
xmltodict